* {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.95
}

#container_header {
  position: fixed;
  height: 60px;
  width: 100%;
  opacity: 1;
  top: 0;
  border-bottom: 1px solid seashell;
  z-index: 10;
  text-align: center;
}

.header h1 {
    font-size: 80px;
}


.background {
  position: relative;
  width: 56.6%;
  height: auto;
  margin: -130px auto 0 auto;
  opacity: 0.8;
}


.mission_container {
  background-color: black;
  width: 100%;
  position: relative;
  top: 190px;
  text-align: center;
  padding-bottom: 5%;
  font-size: 20px;
  margin-bottom: 150px;
}


.mission_container .mission {
  background-color: black;
  position: absolute;
  top: 22%;
  width: 57%;
  left: 21.5%;
  text-align: center;
}

#mission_text {
  font-size: 1em;
}

#description {
  font-size: 1.4em;
}


@media screen and (max-width: 450px) {

  html {
      position: absolute;
      top: 12%;
  }

  .header h1 {
    font-size: 55px;
}


.background {
  position: relative;
  width: 100%;
  height: auto;
  margin: -130px auto 0 auto;
  opacity: 0.8;
}

.mission_container .mission {
  background-color: black;
  position: absolute;
  top: -62%;
  width: 100%;
  font-size: 15px;
  text-align: center;
}

.mission_container {
  background-color: black;
  width: 100%;
  position: relative;
  top: 190px;
  text-align: center;
  padding-bottom: 1%;
  font-size: 20px;
  margin-bottom: 10px;
}


.mission_container .mission {
  background-color: black;
  position: absolute;
  top: -50%;
  width: 100%;
  left: 0%;
  text-align: center;
}

#mission_text {
  font-size: 0.95em;
}

#description {
  font-size: 1.33em;
}
}






